{{!< layout}}
<section>
  <h1>Hello World!</h1>
  <p>
    Congratulations!
    You've successfully created an Atlassian Connect app using the
    <a href="https://bitbucket.org/atlassian/atlassian-connect-express" target="_parent">atlassian-connect-express</a>
    client library.
  </p>
  <p>
    <a href="https://bitbucket.org/atlassian/atlassian-connect-express" target="_parent">
      Get Started
    </a>
  </p>
</section>
